<div class="row row-cols-2 mb-3">
  <div class="col">
    <%= link_to "Add Coffee", new_coffee_path, class: "btn btn-success" %>
  </div>
  <div class="col">
    <%= render "search_and_sort_form" %>
  </div>
</div>

<%= render "index_table", coffees: @coffees %>
