<h1>Add New Coffee</h1>
<%= render "form",
           object: @coffee,
           coffee_brand_options: @coffee_brand_options,
           url: coffees_path,
           cancel_url: params[:cancel_url] || coffees_path
%>
