<%= form_with(model: object, url: url) do |f| %>
  <div class="mb-3">
    <%= input f, :username, as: :text_field, label: "Username", required: true, input_html: { maxlength: 255 } %>
  </div>

  <div class="mb-3">
    <%= input f, :password, as: :password_field, label: "Password", required: true, input_html: { maxlength: 255 } %>
  </div>

  <p>
    <%= f.submit "Login", class: "btn btn-primary" %>
  </p>
<% end %>
