<% if search_results.present? %>
<div class="list-group mb-3">
  <% search_results.each do |coffee| %>
    <%= link_to '#',
                id: "#{dom_id(coffee)}-search-result",
                class: "list-group-item list-group-item-action entry-list-item",
                data: {
                  action: "click->coffee-search-form#selectCoffee",
                  coffee_id: coffee.id,
                } do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <%= coffee.name %>
        </h5>
        <small>
          <%= coffee.brand_name %>
        </small>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
