<%= form_for(object, url: url) do |f| %>
  <div class="mb-3">
    <%= f.label :coffee, class: "" %>
  </div>
  <button type="submit" class="btn btn-primary">
    <%= object.new_record? ? "Create" : "Update" %> Log Entry
  </button>
<% end %>
