<% content_for(:title, "Edit Entry") %>
<h1>Edit Log Entry</h1>

<%= render "form",
           object: @log_entry,
           url: log_entry_path(@log, @log_entry),
           cancel_url: log_entry_path(@log, @log_entry),
           show_entry_date: true
%>
