<h1>Log Entries</h1>

<turbo-frame id="entry_form">
  <%= render "form", object: @new_log_entry, url: log_entries_path(@log) %>
</turbo-frame>

<hr>

<% if @log_entries.present? %>
  <div class="list-group">
    <%= render collection: @log_entries %>
  </div>
<% else %>
  <p>There are no log entries yet.</p>
<% end %>
