<h1><%= @log.title %> Entries</h1>

<div id="new_entry_form">
  <%= render "form",
             object: @new_log_entry,
             url: log_entries_path(@log) %>
</div>

<hr>

<% if @log_entries.blank? %>
  <p id="no_log_entries_message">There are no log entries yet.</p>
<% end %>

<div class="list-group" id="log_entries">
  <%= render collection: @log_entries, partial: "log_entries/log_entry" %>
</div>
