<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Coffee Log</strong> by
      <a href="https://willmakley.dev/">William Manahan-Makley</a> <%= Date.today.year %>.
    </p>
  </div>
</footer>
