<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>

<body>
<%= render "services/navigation", logs: @logs if current_user %>

<section class="section">
  <div class="container content">
    <div id="flash">
      <% flash.each do |key, value| %>
        <%= render "services/flash_message", key: key, value: value %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</section>

</body>
</html>
