<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>

<body>
<%= render "services/navigation", logs: @logs if current_user %>

<div class="container content">
  <div id="flash">
    <% flash.each do |key, value| %>
      <%= render "services/flash_message", key: key, value: value %>
    <% end %>
  </div>

  <%= yield %>
</div>
</body>
</html>
