<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
  <meta name="turbo-refresh-method" content="morph">
</head>

<body>
<%= render "layouts/navigation", logs: @logs %>

<div class="container content">
  <div id="flash">
    <% flash.each do |key, value| %>
      <%= render "services/flash_message", key: key, value: value %>
    <% end %>
  </div>

  <%= yield %>
</div>
</body>
</html>
